.App {
  
}

.title-h1{
  
  text-align: center;

}

.banner-img{

  width: 300px;
  height: 400px;
}

.bttn-filme{

  display: block;

}
h3{

  text-align: center;

}
ul{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section{

  padding: 2rem;

}